<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <title>ESTOCZ Website - Shopping Cart</title>
    <!-- Link to CSS-->
    <link rel="stylesheet" href="main.css">
    <!--Box Icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="main.js" defer></script>
</head>
<body>
    <!--Header-->
    <header>
        <!--Nav-->
        <div class="nav container">
            <a href="jewellery.page.html" class="logo">ESTOCZ</a>
            <!--Navbar -->
            <a href="main.html" class="Home-btn">Home</a>
            <a href="jewellery.page.html" class="Jewellery-btn">Jewellery</a>
            <a href="contact.html" class="Contact-btn">Contact</a>
            <!--Cart-Icon-->
            <i class='bx bx-shopping-bag' id="cart-icon"></i>
            <!--Cart-->
            <div class="cart">
                <h2 class="cart-title">Váš Košík</h2>
                <!--Content-->
                <div class="cart-content">
                    <div class="cart-box">
                        <a href="products/BlackMorningMug.html" class="product-page-link">
                        </a>
                        <div class="detail-box">
                        
                        </div>
                        <!--Remove Cart-->
                       
                    </div>
                </div>
                <!--Total-->
                <div class="total">
                    <div class="total-title">Celková Cena</div>
                    <div class="total-price">0,-</div>
                </div>
                <!--Buy Button-->
                <button type="button" class="btn-buy">Koupit Teď</button>
                <!--Cart Close-->
                <i class='bx bx-x' id="close-cart"></i>
            </div>
        </div>
    </header>
    <!--Shop-->
    <h2 class="section-title">Naše Produkty</h2>
    <span id="jewellery">Jewellery</span>
    <section class="shop container">
        <!--Content-->
        <div class="shop-content">
            <!--Box 1-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/stribrny kriz- spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Silver Cross</h2>
                <span class="price">69.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 2-->
            <div class="product-box">
                <a href="products/PearlLove.html" class="product-page-link">
                    <img src="img/perly. bracelet- spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Pearl Love</h2>
                <span class="price">49.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 3-->
            <div class="product-box">
                <a href="products/PawfectLove.html" class="product-page-link">
                    <img src="img/paw-spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Pawfect Love</h2>
                <span class="price">44.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!-- Box 4-->
            <div class="product-box">
                <a href="products/GentlemansElegance.html" class="product-page-link">
                    <img src="img/panske naramky- spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Gentleman's Elegance</h2>
                <span class="price">34.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 5-->
            <div class="product-box">
                <a href="products/EnchantingGaze.html" class="product-page-link">
                    <img src="img/oko nahrdelnik-spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product title">Enchanting gaze</h2>
                <span class="price">59.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 6-->
            <div class="product-box">
                <a href="products/ButterflySerenade.html" class="product-page-link">
                    <img src="img/motyl retizek- spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Butterfly Serenade</h2>
                <span class="price">54.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 7-->
            <div class="product-box">
                <a href="products/.html" class="product-page-link">
                    <img src="img/magnety 2 - spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Pinky Promise</h2>
                <span class="price"></span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 8-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/krize nausnice - spravne.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Silver Cross Earrings</h2>
                <span class="price">49.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 9-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/infinity- spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Forever Together</h2>
                <span class="price">69.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 10-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/fuck you- spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Quirky Charmer</h2>
                <span class="price">49.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 11-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/dolary. spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Diamond Dollar Earrings</h2>
                <span class="price">59.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 12-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/cisla 111 spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Magic Numbers</h2>
                <span class="price">69.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 13-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/cervena. cerna spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Little Hearts</h2>
                <span class="price">49.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 14-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/cerny kriz - spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Black Cross</h2>
                <span class="price">54.90,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
            <!--Box 15-->
            <div class="product-box">
                <a href="products/BlackMorningMug.html" class="product-page-link">
                    <img src="img/cerna. bila - spravna verze.jpg" alt="" class="product-img">
                </a>
                <h2 class="product-title">Yin & Yang</h2>
                <span class="price">70 ,-</span>
                <i class='bx bx-shopping-bag add-cart'></i>
            </div>
        </div>
    </section>
</body>
</html>